<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Piriou.Properties.Settings.CBABTPConnectionString"
            connectionString="Data Source=45.117.77.172\SQL2012,7799;Initial Catalog=CBABTP;Persist Security Info=True;User ID=sa;Password=SQL123ATD@$SGD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>