<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v7.2" publicKeyToken="9B171C9FD64DA1D1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.2.5.0" newVersion="7.2.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v7.2" publicKeyToken="9B171C9FD64DA1D1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.2.5.0" newVersion="7.2.5.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
